esc
m2
mb
.mb/.DS_Store*
.mb/themes/.DS_Store*
foo.*
foobar.*
foo/
foobar/
fobar/
site/fobar.*
site/fobar
.DS_Store
.git
.pub/
gal/.pub/
docs/.pub/
docs/.DS_Store
.mb/themes/tom.im/.DS_Store
.mb/.DS_Store
.mb/themes/.DS_Store
.DS_Store/
mbamd64
.mb/themes/.DS_Store
.1
node_modules/
site/.DS_Store
yarn.lock
